In [3]:
import pandas as pd
import numpy as np

In [6]:
category = 'model configurations'
fn = 'reservoir_nml_values.json'

table_loc = os.path.join('.', 'data', category, fn) 
df = pd.read_json(table_loc)
print(len(df))
df.head(10)

13

,nhdhr_151957878,nhdhr_120022743
site_id,nhdhr_151957878,nhdhr_120022743
cd,0.0014,0.001398
longitude,-74.85719,-75.30163
latitude,42.09106,42.09674
bsn_wid,5432.168,4930.446
bsn_len,5432.168,4930.446
lake_depth,60.62472,48.7619
max_layer_thick,1.5,1.5
min_layer_thick,0.2,0.2
meteo_fl,NLDAS_time[0.379366]_x[401]_y[136].csv,NLDAS_time[0.379366]_x[397]_y[136].csv

In [164]:
# check leap years
#leap years: 2020, 2016, 2012, 
#date_col = 'time'
#df[pd.to_datetime(df[date_col]).dt.year ==2016].iloc[59:61]

In [43]:
#len(df)
#df.replace([np.inf, -np.inf], np.nan).max().max()
#df.min().min()
df.sort_values('date')

,res_id,seg_id_nat,date,seg_outflow,seg_tave_water,direction
0,nhdhr_120022743,1557,1979-01-01,1.982,3.20,inflow
31600,nhdhr_120022743,1566,1979-01-01,1.584,4.86,outflow
110600,nhdhr_151957878,1444,1979-01-01,2.536,5.51,outflow
47400,nhdhr_151957878,1437,1979-01-01,0.478,4.13,inflow
63200,nhdhr_151957878,1440,1979-01-01,0.661,4.51,inflow
...,...,...,...,...,...,...
47399,nhdhr_120022743,1566,2022-04-04,46.043,0.24,outflow
31599,nhdhr_120022743,1559,2022-04-04,1.256,0.38,inflow
15799,nhdhr_120022743,1557,2022-04-04,33.782,0.16,inflow
110599,nhdhr_151957878,1443,2022-04-04,2.326,0.00,inflow
126399,nhdhr_151957878,1444,2022-04-04,41.654,0.07,outflow

In [20]:
display(df.dtypes)

time          object
ShortWave    float64
LongWave     float64
AirTemp      float64
RelHum       float64
WindSpeed    float64
Rain         float64
Snow         float64
dtype: object

In [39]:
#df.sort_values('date')
len(df[df['min_temp_degC']>df['mean_temp_degC']])

39

In [41]:
col = 'location'

def check_whitespace(df, col):
    unique_vals = df[col].unique()
    for st in unique_vals:
        if st==None:
            continue
        print(st)
        if st.startswith(' '):
            print(f'    bad string ({st})')
        if st.endswith(' '):
            print(f'    bad string ({st})')   

def calc_metrics(df, col):
    print(f'    min: {df[col].min()}')
    print(f'    mean: {df[col].mean()}')
    print(f'    max: {df[col].max()}')

# Data do not have leading/trailing spaces or tabs.
print(f'checking column {col}')
# if type is string, check for whitespace
if df.dtypes[col]=='O':
    print(f'unique values: {df[col].unique()}')
    check_whitespace(df, col)
# if type is float, check min, max, mean
elif df.dtypes[col]=='float64':
    calc_metrics(df, col)

checking column location
unique values: ['outflow' 'inflow']
outflow
inflow